{
	email ${CADDY_SSL_EMAIL_ADDRESS}
}

http://localhost:8888 {
	reverse_proxy /health http://synapse:8008
}

matrix.${SYNAPSE_SERVER_NAME} {
	reverse_proxy /_matrix/provision/* http://irc-bridge:7700
	reverse_proxy /_matrix/* http://synapse:8008
	reverse_proxy /_synapse/client/* http://synapse:8008
}

matrix.${SYNAPSE_SERVER_NAME}:8448 {
	reverse_proxy http://synapse:8008
}
